.Table1 {
    width: 100%;
    border: 1px solid#e6e6e600;
    background: #ffffff;
    margin:auto;
    padding: 10%
 }
 
 .Table1>thead {
    background: #b8b7b7;
    font-style: italic;
 }
 
 td, th {
    border: 1px solid #7a7a7a;
    text-align: center;
 }

 #colo1 {
   color:blue;
   background: rgba(158, 157, 157, 0.329);
   font-weight: bold;
 }