.postale {
  border: 3px solid gray;
  box-shadow:inset ;
  border-left-color: #ecebea;
  border-top-color: #ecebea;
  max-width: 33%;
  height: 300px;
  margin-left: 500px;
  margin-top: 200px;

}

.text1 {
  color:rgb(94, 94, 94);
  position: relative;
  left: 20px;
  top: 50px;
  text-decoration-line: unset;
  font-size: 18px;
  line-height: 20px;
}

.timbre {
  border: 2px solid gray;
  width: 70px;
  height: 70px;
  float: right;
  position: relative;
  right: 10px;
  top: -150px;
}

.adresse {
  color: rgb(0, 0, 0);
  float: right;
  position: relative;
  right: 54px;
  top: -70px;
}

.barreadresse1 {
  border-bottom:1px solid gray;
  width: 41%;
  float: right;
  position: relative;
  right: -205px;
  top:-20px
}

.barreadresse2 {
  border-bottom:1px solid gray;
  width: 41%;
  float: right;
  position: relative;
  right: -205px;
  top: 10px;
}

.barreadresse3 {
  border-bottom:1px solid gray;
  width: 41%;
  float: right;
  position: relative;
  right: -205px;
  top: 40px;
}

.carre1 {
  border: 2px solid gray;
  width: 30px;
  height: 30px;
  float: right;
  position: relative;
  right: -240px;
  top: 50px;
}

.carre2 {
  border: 2px solid gray;
  width: 30px;
  height: 30px;
  float: right;
  position: relative;
  right: -315px;
  top: 50px;
}

.carre3 {
  border: 2px solid gray;
  width: 30px;
  height: 30px;
  float: right;
  position: relative;
  right: -390px;
  top: 50px;
}

.carre4 {
  border: 2px solid gray;
  width: 30px;
  height: 30px;
  float: right;
  position: relative;
  right: -465px;
  top: 50px;
}