body {
    margin:0;
}

header {
    background: #3768ba;
    padding: 15px;
}

header h1 {
    margin: 0;
    color:#fff;
    text-align: center;
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: 80%;
}

h2 {
    font-family: sans-serif;
    color:#234176;
    margin-top: 30px;
    margin-bottom: 40px;
}

nav {
    margin-top: 40px;
    margin-bottom: 40px;
}

div {
    margin-top: 10px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

ul li {
    color: #9E9E9E;
}

ul li a {
    color: #9E9E9E;
    text-decoration: none;
    font-family: sans-serif;
    font-size: .9rem;
    font-weight: bold;
}

ul li:hover {
    border-bottom: 2px solid;
}

ul li.active {
    border-bottom: 2px solid;
    padding-bottom: 6px;
    color:#3768ba
}

ul li.active a {
    color:#3768ba
}

.event-container {
    display: flex;
    justify-content: space-around;
}

.event-container img {
    width: 100%;
    max-width: 300px;
    border-radius: 2rem;
}

h3 {
    font-family: sans-serif;
}

hr {
    border-style: solid;
    border-width: 3px;
    border-radius: 2rem;
    border-color: #ededed;
    margin-bottom: 15px;
}

.event-button {
    display: inline-block;
    width: 100%;
    background: #2f579d;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
    color:#fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: .95rem;
}