* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url();
    background-size: 100% 100vh;
}

.container {
    max-width: 100%;
    max-height: 110px;
    margin: 0 auto; 

}

.header {
    background: #333;
}
.header h1 {
    color: #eee;
    margin: 0;
    padding-left: 10px;
    line-height: 100px;
}


.nav, .logo {
    width: 50%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
}

nav ul { 
    list-style: none;
    margin: -90px;
    padding: 0;
}

#menu2 { 
    list-style: none;
    margin: 0px;
    padding: 0;
}

nav > ul { 
    height: 40px;
    text-align: right;
}

nav > ul > li { 
    width: 90px;
    display: inline-block;
    vertical-align: top; 
    text-align: center;
}

nav ul li:hover ul { 
    display: block;
    width: 180px;
}

nav ul li ul { 
    display: none;
    background: #333;
}

nav ul li a { 
    color: #ccc;
    padding: 10px; 
    line-height: 40px;
    text-decoration: none;
    height: 100px;
    line-height: 100px;
}

nav ul li a:hover {
    color: #00adb5;
}

nav ul li ul li {
    text-align: left;
}

nav ul li ul li a {
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

#logo1 {
    max-width: 360px;
    max-height: 120px;
}

#imgarticle1 {
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    filter: drop-shadow(15px 10px 4px #4444dd54);
}

#imgarticle2 {
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    border-radius: 3%;
}

.row {
    display: flex;
}

.col1 {
        flex: 1; 
        border: solid 10px;
        border-style: dashed;
        border-color: rgba(223, 11, 11, 0.959);
        border-radius: 5%;
}

.col2 {
    flex: 1; 
    border: solid 10px;
    border-style:groove;
    border-color: rgb(229, 255, 0);
    border-radius: 5%;
}

.col3 {
    flex: 1; 
    border: solid 10px;
    border-color: rgb(51, 255, 0);
    border-style: dashed double none;
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(51, 255, 0);
}

.col4 {
    flex: 1; 
    border: solid 10px;
    border-color: #00ffaa;
    border-style: dashed solid;
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(0, 255, 128);
}

.col5 {
    flex: 1; 
    border: solid 10px;
    border-color: rgb(0, 255, 213);
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(0, 255, 221);
}

.col6 {
    flex: 1; 
    border: solid 10px;
    border-color: rgb(0, 119, 255);
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(0, 110, 255);
}

.col7 {
    flex: 1; 
    border: solid 10px;
    border-color: rgb(111, 0, 255);
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(119, 0, 255);
}
.col8 {
    flex: 1; 
    border: solid 10px;
    border-color: rgb(204, 0, 255);
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(195, 0, 255);
}

.col9 {
    flex: 1; 
    border: solid 10px;
    border-color: rgb(255, 0, 242);
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(255, 0, 179);
}

.col10 {
    flex: 1; 
    border: solid 10px;
    border-color: rgb(255, 0, 119);
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(255, 0, 119);
}