#vert1{
    display:flex;
    background: rgba(214, 214, 214, 0.514);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    color: rgb(0, 0, 0);
    flex-direction:column;
    align-items: center;
    

    }

.image1 {
    background-color: #1abc9c;
    min-height: 400px;
    width: 25%;
}

.image2 {
    background-color: #3498db;
    width: 25%;
    min-height: 400px;
}

.image3 {
    background-color: #9b59b6;
    width: 25%;
    min-height: 400px;
}

.image4 {
    background-color: #e67e22;
    width: 25%;
    min-height: 400px;
}

.image5 {
    background-color: #e74c3c;
    width: 25%;
    min-height: 400px;
}

.image6 {
    background-color: #1abc9c;
    width: 25%;
    min-height: 400px;
}

.image7 {
    background-color: #3498db;
    width: 25%;
    min-height: 400px;
}

.image8 {
    background-color: #9b59b6;
    width: 25%;
    min-height: 400px;
}

body {
    display:flex;
    flex-flow: row wrap;
    border: 8px solid black;
}