body {
    margin:0;
    padding:0;
}

#horloge {
    margin: auto;
    margin-top: 10%;
    position: relative;
    width: 462px;
    height: 500px;
    background-image: url('../img/horloge.png');
    background-repeat: no-repeat;
}

#heure, #minute, #seconde, #accroche {
    position: absolute;
    transform-origin: bottom center;
}

#heure {
    width: 12px;
    height: 160px;
    left: 50%;
    bottom: 275px;
    transform: translateX(-50%);
}

#minute {
    width: 12px;
    height: 210px;
    left: 50%;
    bottom: 275px;
    transform: translateX(-50%);
}

#seconde {
    width: 2px;
    height: 229px;
    left: 50%;
    bottom: 270px;
    transform: translateX(-50%);
}

#accroche {
    width: 130px;
    height: 105px;
    left: 50%;
    bottom: 218px;
    transform: translateX(-50%);
}