nav {
   background-color:#7e7e7e;
   border-radius: 20px;
}

#menuheader {
   padding:calc(2em + 8px);
   width:150%;
}

#logo {
   width: 150px;
   max-width: 50%;
   max-height: 100px;
}

#top1 {
   border:solid 1px transparent;
   padding:1em;
   color:rgb(255, 255, 255);
}

.container {
   float:right;
   max-width: 80%;
}

body {
   max-width: 50%;
   margin: auto;
}
