header {
  background-color: gray;
  border: 1px solid;
  border-radius: 30px;
}

#logo {
  max-width: 100;
  max-height: 100px;
  float: left;
}

nav{
  width: 50%;
  margin: -120px auto;
  position: sticky;
  top: 0px;
}

nav ul{
  list-style-type: none;
  padding: 10%;
}

nav ul li{
  float: left;
  width: 20%;
  text-align: center;
  position: relative;
}

nav ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: block;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
  padding: 10px 0px;
}

nav a:hover{
  color: orange;
  border-bottom: 2px solid gold;
}

.sous{
  display: none;
  box-shadow: 0px 1px 2px #CCC;
  background-color: rgb(82, 82, 82);
  position: absolute;
  width: 100%;
  z-index: 1000;
}
nav > ul li:hover .sous{
  display: block;
}
.sous li{
  float: none;
  width: 100%;
  text-align: left;
}
.sous a{
  padding: 10px;
  border-bottom: none;
}
.sous a:hover{
  border-bottom: none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  content:" ▼";
  font-size: 12px;
}

.conteneur{
margin: 50px 20px;
height: 1500px;
}

.divi1 {
    background-color: rgb(192, 240, 255);
    width:200px;
    padding: 1em 3em 2em 2em;
    margin: 0.5em;
    color: rgb(25, 0, 255); 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 90px;
}

h2 {
  text-align: center;
  letter-spacing: 0.4em;
}

.post {
  background: rgba(0, 0,0, .2);
  padding: 30px;
  margin-right: 50%;
  margin-top: 20px;
  line-height: 2;
  text-align: justify;
  border-color: rgb(192, 232, 255);
  border-radius: 5%;
  float:right;
     
}

.post2 {
  background: rgba(0, 0,0, .2);
  padding: 18px;
  margin-left: 51%;
  margin-top: -445px;
  line-height: 2;
  text-align: justify;
  border-color: rgb(192, 232, 255);
  border-radius: 5%;
  float: left;
     
}

.post3 {
  background: rgba(0, 0,0, .2);
  padding: 28px;
  margin-left: 51%;
  margin-top: -490px;
  line-height: 2;
  text-align: justify;
  border-color: rgb(192, 232, 255);
  border-radius: 5%;
  float: left;
     
}

.post4 {
  background: rgba(0, 0,0, .2);
  padding: 38px;
  margin-left: 51%;
  margin-top: -470px;
  line-height: 2;
  text-align: justify;
  border-color: rgb(192, 232, 255);
  border-radius: 5%;
  float: left;
     
}

.post10 {
  background: rgba(0, 0,0, .2);
  padding: 38px;
  line-height: 2;
  margin-top: 5px;
  text-align: justify;
  border-color: rgb(192, 232, 255);
  border-radius: 50px;
     
}

#imagerecette {
    max-width: 250px;
    max-height: 250ox;
    margin: auto;
    display: flex;
}

#lienrecette {
  margin:370px;
}

table{
  border-collapse: collapse;
  margin-top: -300px;
}

td{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

#ingrédients {
  color:blue;
  text-align: center;
  font-weight: bold;
}

#quantités {
  color:red;
  text-align: center;
  font-weight: bold;
}

#table2{
  border-collapse: collapse;
  margin-top: -480px;
  float: right;
}

#ustenciles {
  color:rgb(89, 0, 255);
  text-align: center;
  font-weight: bold;
}

.préparation {
  text-align: center;
  border: 1px solid;
  border-radius: 30px;
  max-width: 50%;
  margin: auto;
  margin-top: -170px;
  background-color: grey;
  color: black;
}

#prépa{
  margin-top: 0px;
  margin:20px;
  margin-left: 280px;
  border:none;
  background-color: rgb(139, 139, 139);
  border-radius: 15px;
}

#prépa2 {
  border:none;
  text-align: center;
}

p {
  text-align: center;
}

#etape {
  color:rgb(0, 0, 0);
  text-align: center;
  text-decoration: underline  overline black;
  text-shadow: 0px 0px 5px red;
  letter-spacing: 1px;
  
}

.listetape {
  background-color: rgb(78, 78, 78);
  border-radius: 20px;
}

#icone {
  float:right;
  width: 34px;
  height: 34px;
  margin-right: 38%;
  margin-left: -40%;
  margin-top: -10px;
}

#icone2 {
  float:right;
  width: 34px;
  height: 34px;
  margin-right: 35%;
  margin-left: -40%;
  margin-top: -10px;
}

#icone3 {
  float:right;
  width: 34px;
  height: 34px;
  margin-right: 32%;
  margin-left: -40%;
  margin-top: -10px;
}