body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

#tableau-de-score {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #3b3f4a;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: #61dafb;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#tableau-de-score:hover {
    transform: scale(1.05);
    background-color: #4b5162;
}

#score-joueur, #score-ordinateur {
    display: inline-block;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.changement-de-score {
    animation: changementDeScore 0.5s ease;
}

@keyframes changementDeScore {
    0% {
        transform: scale(1);
        background-color: #61dafb;
    }
    50% {
        transform: scale(1.2);
        background-color: #4aa3d8;
    }
    100% {
        transform: scale(1);
        background-color: #61dafb;
    }
}

#jeu {
    background: #3b3f4a;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 28px;
    color: #61dafb;
    margin-bottom: 20px;
}

#choix {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.choix {
    width: 90px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 50%;
    border: 3px solid transparent;
}

.choix:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.choix:active {
    transform: scale(1.1);
    border-color: #61dafb;
}

#vous {
    color:blue;
}

#ordinateur {
    color:#e57373;
}

#resultat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    margin: 5px 25px;
}

#resultat p {
    font-size: 18px;
    margin: 10px 5px;
}

#resultat2 {
    font-size: 18px;
    color: #61dafb;
    margin: 10px 50px !important;
}

#resultat-jeu {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #4b516200;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-top: 10px;
}

#resultat-jeu.victoire {
    background-color: #4caf50; /* Couleur verte pour victoire */
    animation: resultatJeuVictoire 0.5s ease;
}

#resultat-jeu.défaite {
    background-color: #f44336; /* Couleur rouge pour défaite */
    animation: resultatJeuDefaite 0.5s ease;
}

#resultat-jeu.égalité {
    background-color: #ffeb3b; /* Couleur jaune pour égalité */
    animation: resultatJeuEgalite 0.5s ease;
}

@keyframes resultatJeuVictoire {
    0% {
        transform: scale(1);
        background-color: #4caf50;
    }
    50% {
        transform: scale(1.2);
        background-color: #66bb6a;
    }
    100% {
        transform: scale(1);
        background-color: #4caf50;
    }
}

@keyframes resultatJeuDefaite {
    0% {
        transform: scale(1);
        background-color: #f44336;
    }
    50% {
        transform: scale(1.2);
        background-color: #e57373;
    }
    100% {
        transform: scale(1);
        background-color: #f44336;
    }
}

@keyframes resultatJeuEgalite {
    0% {
        transform: scale(1);
        background-color: #ffeb3b;
    }
    50% {
        transform: scale(1.2);
        background-color: #fff176;
    }
    100% {
        transform: scale(1);
        background-color: #ffeb3b;
    }
}

#historique {
    background: #4b5162;
    border-radius: 8px;
    padding: 10px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    height: auto;
    overflow: hidden;
}

#historique h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #61dafb;
}

#historique-jeu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#historique-jeu li {
    background: #555a6e;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
    color: #a8a8a8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(0);
    animation: fadeIn 0.3s forwards;
}

#historique-jeu li.victoire {
    background-color: rgba(76, 175, 80, 0.3); /* Vert translucide pour victoire */
}

#historique-jeu li.défaite {
    background-color: rgba(244, 67, 54, 0.3); /* Rouge translucide pour défaite */
}

#historique-jeu li.égalité {
    background-color: rgba(255, 235, 59, 0.3); /* Jaune translucide pour égalité */
}

#historique-jeu li.last-entry {
    background-color: rgba(249, 168, 37, 0.5); /* Couleur différente pour la dernière entrée */
    color: #ffffff;
    animation: entreeDynamique 0.5s ease forwards;
}

@keyframes entreeDynamique {
    0% {
        transform: scale(1) translateY(0);
        background-color: rgba(249, 168, 37, 0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        background-color: rgba(255, 215, 0, 0.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        background-color: rgba(249, 168, 37, 0.5);
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#reinitialiser-jeu {
    background-color: #61dafb;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#reinitialiser-jeu:hover {
    background-color: #4aa3d8;
}

@media screen and (max-width: 400px) {
    #tableau-de-score {
        font-size: 12px;
    }
    }