body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navigation {
  background: #333;
  padding: 10px 20px;
  color: white;
  position: relative;
}

.navigation .menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation .menu li {
  padding: 10px;
}

.navigation .menu li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.hamburger-checkbox,
.hamburger-icon {
  display: none; /* Cachez le hamburger et la checkbox par défaut */
}

@media (max-width: 768px) {
  .hamburger-checkbox,
  .hamburger-icon {
      display: block; /* Afficher l'icône hamburger */
      cursor: pointer;
  }

  .hamburger-icon {
      font-size: 30px;
      color: white;
      padding: 10px;
      background: #333;
  }

  .navigation .menu {
      flex-direction: column;
      background-color: black;
      display: none; /* Masquer le menu par défaut */
      position: absolute;
      width: 100%;
      top: 50px;
      left: 0;
  }

  .navigation .menu li {
      text-align: center;
      padding: 15px;
      border-top: 1px solid #aaa; /* Ajoute une ligne entre les éléments */
  }

  #hamburger-checkbox:checked ~ .menu {
      display: flex; /* Afficher le menu quand la checkbox est cochée */
  }
}
