nav {
   background-color:#000000;
   border-radius: 5px;
}

#menuheader {
   padding:calc(1em + 2px);
   width:100%;
}

#logo {
   width: 150px;
   max-width: 50%;
   max-height: 50px;
}

a {
   border:solid 1px transparent;
   padding:1em;
   color:rgb(255, 255, 255);
}

.container {
   float:right;
   max-width: 25%;
}

body {
   max-width: 50%;
   margin: auto;
}

form {
   border: 1px solid rgb(0, 0, 0);
   background: gray;
   text-align: center;
}

.Formu1 {
   border: 5px solid rgb(61, 61, 61);
   border-radius: 5px;
   box-shadow: 0 0 50px rgb(36, 36, 36);
}

.classicInput {
   width: 90%;
   padding: 10px;
   border: 2px solid #00b7ff;
   border-radius: 5px;
}

#titi {
   font-weight: bold;
   color:blueviolet;
}