body{
    width: 95%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h1{
    color: #175217;
    margin-bottom: 10px;
}

#jaune, #vert, #marron, #bleu{
    width: 20%;
    height:20%;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    margin: 20px;
}

.poub {
    width: 40%;
    height:30%;
}

#poubelles{
    margin-right: auto;
    text-align: center;
}

#play, #reset, #next, #result {
    width: 25%;
    height: 40px;
    margin:  5% 1%  5% 1%;

}

#random{
    width: 200px;
    height: 200px;
    margin: auto;
}

#image{
    height: 200px;
}

#image2, #icon, #image3{
    height: 50px;
}

#image2 {
    margin: 5px;
    text-align: center;
}

#recap {
    margin-top: 50px;
}

#points {
    font-size: 2em;
    color: #175217
}