nav {
    background-color:#333333;
    overflow:hidden;
    scroll-behavior:smooth;
}

section {
    padding:calc(1em + 2px);
    width:100vw;
}

a {
        border:solid 1px transparent;
        padding:1em;
        color:white;
}

.container {
    float:right;
    margin-right: -85%;
}

#logo {
    width: 150px;
    max-height: 50px;
}

.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .icone123{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .icone123 a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .icone123 a:hover{
color:#fff;
}

.footer .icone123 ul{
width:100%;
}

.footer .icone123 ul li{
display:inline-block;
margin:0px 20px;
}

.footer .icone123 a i{
font-size:2em;
margin:0% 1%;
}