nav {
    background-color:#333333;
    overflow:hidden;
    scroll-behavior:smooth;
}

section {
    padding:calc(1em + 2px);
    width:100vw;
}

a {
        border:solid 1px transparent;
        padding:1em;
        color:white;
}

.container {
    float:right;
    margin-right: -85%;
}

#logo {
    width: 150px;
}