body {
    max-width: 100%;
}

nav {
    background-color:#333333;
}

#menuheader {
    padding:calc(1em + 2px);
    width:100%;
}

a {
        border:solid 1px transparent;
        padding:1em;
        color:white;
}

.container {
    float:right;
    max-width: 25%;
}

#logo {
    width: 150px;
    max-width: 50%;
    max-height: 50px;
}

#titre1 {
    text-align: center;
}

.row {
        display: flex;
}
      
.col1 {
        flex: 1; 
        padding: 1em;
        border: solid;
        border-color: red;
}

.col2 {
    flex: 1; 
    padding: 1em;
    border: solid;
    border-color: blue;
}

.footer{
background:#000;
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .icone123{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:gray;
font-size:0.8em;
}

.footer .icone123 a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .icone123 a:hover{
color:#fff;
}

.footer .icone123 ul{
width:100%;
}

.footer .icone123 ul li{
display:inline-block;
margin:0px 20px;
}

.footer .icone123 a i{
font-size:2em;
margin:0% 1%;
}