body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #E60012; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  padding: 0 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-tools {
  display: flex;
  align-items: center;
}

.search-button, .menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* styles.css */
.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 30%;
  text-align: center;
  margin: 10px;
}

.column img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .column {
      flex-basis: 100%;
  }
}

