/* Style général pour le header */
header {
  display: flex;
  align-items: center;
  background-color: #ff0000;
  padding: 10px;
}

/* Masquer la checkbox */
.hamburger-checkbox {
  display: none;
}

/* Styler le label hamburger pour le rendre visible */
.hamburger {
  font-size: 30px; /* Taille de l'icône */
  cursor: pointer;
  margin-right: 10px; /* Espace entre l'icône et le logo */
}

/* Logo */
.logo {
  height: 50px; /* Ajustez selon la taille de votre logo */
}

/* Styles du sidenav */
.sidenav {
  height: 100%;
  width: 0; /* Le sidenav est masqué par défaut */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Empêche le débordement horizontal */
  transition: 0.5s; /* Transition fluide pour l'affichage du sidenav */
  padding-top: 60px;
}

.sidenav a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 22px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Montrer le sidenav quand la checkbox est cochée */
.hamburger-checkbox:checked + .sidenav {
  width: 250px; /* Largeur désirée du sidenav */
}

/* Media queries pour ajustements sur mobile */
@media screen and (max-width: 600px) {
  .sidenav {
      padding-top: 45px;
  }

  .sidenav a {
      font-size: 18px;
  }
}
