body {
    display: flex;
    margin:0;
    padding: 0;
    width: 100%;
}

#main {
    padding: 10px;
    background-color:rgb(255, 0, 0);
    width: 100%;
    height: 50%;
}

#menuhaut {
    display: block;
    color: white;
    margin-left: 80%;
}

.sidenav > span
{
display: none;
text-align: center;
line-height: 5px;
padding-bottom: 20px;
}


.sidenav .icone {
    width: 15%;
}

i {
    color:white;
}

.menureduit {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
}

.sidenav {
    height: 100%;
    width: 160px; 
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #ff0000; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
}


.sidenav a:hover {
    color: #f1f1f1;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media(max-width:812px)
{

    .sidenav > a {
        display: none;
    }

    .sidenav > span
    {
        display: inline-block;
    }

    .sidenav:hover > a {
        width: 80%;
        display: block;
        margin: 10px auto;
    }

    .sidenav:hover > span {
        transform : rotate(90deg);
        transition-property : transform;
        transition-duration : 0.5s;
    }

    .sidenav .icone {
        width: 20%;
    }
}


