body {
    margin:0;
    padding: 0;
    width: 100%;
}

header {
        display: flex;
        position: fixed;
        z-index: 1030;
        top: 0;
        align-items: center;
        width: 100%;
        height: 72px;
        padding-left: 12px;
        background: #e60012;
        color: #fff;
        line-height: 0;
    }

nav {
    width: 100%;
}

button {
    background-color: #e60012;
    border: 0px solid;
    color: white;
    font-size: 11px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.radius {
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-top-right-radius: 10px;
}

#menuhaut {
    display: inline-flex;
    justify-content: flex-end;
    width: 99%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

.sidenav  > span {
display: none;
text-align: center;
line-height: 5px;
padding-bottom: 20px;
}


.sidenav .icone {
    width: 48px;
    color: white;
    height: 40px;
}

i {
    color:white;
    font-size: 20px;
}


.menureduit {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 53px;
    background-color: #BF0010; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 0px 5px 0px;
    text-decoration: none;
    font-size: 10px;
    background-color: #e60012;
    color: #ffffff;
    display: block;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    border: 0.1em solid rgba(0, 0, 0, 0.116);
}


.fondcolor {
    background-color: black;
}


.sidenav a:hover {
    color: #f1f1f1;
}

#image1 {
    width: 100%;
    height: 60%;
}

#image2 {
    width: 49%;
    height: 21%;
    
}

#image3 {
    width: 99%;
    height: 39%;
    
}

#image4 {
    width: 100%;
    height: 60%;
    
}

#image6 {
    width: 100%;
    height: 35%;
    
}

#image7 {
    width: 49%;
    height: 35%;
    
}

#news3 {
    width: 100%;
    height: 2%;
    
}

.center {
    width: 50%;
    margin-left: 10px;
}

.gauche {
    width: 30%;
}

.droite {
    width: 17%;
    margin-left: 10px;
}

.imageaccueil {
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
    margin-top: 10px;
}



@media(max-width:812px)
{
    .sidenav > a {
        display: none;
    }

    .sidenav > span {
        display: inline-block;
        background-color: black;
    }

    .sidenav:hover > a {
        width: 100%;
        display: block;
        background-color: #e60012;
    }

    .sidenav:hover > span {
        transform : rotate(90deg);
        transition-property : transform;
        transition-duration : 0.5s;
    }

    .sidenav .icone {
        width: 30%;
    }

    .sidenav {
        width: 100px;
        background-color: #ffffff00;
        height: 100%;
    }

    .imageaccueil {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .center {
        width: 80%;
        height: 100%;
        margin-left: 0px;
    }

    .gauche {
        width: 80%;
        height: 100%;
    }

    .droite {
        width: 80%;
        height: 100%;
    }
}


