body {
    margin:0;
    padding: 0;
    width: 100%;
}

header {
        display: flex;
        position: fixed;
        z-index: 1030;
        top: 0;
        align-items: center;
        width: 100%;
        height: 72px;
        padding-left: 12px;
        background: #e60012;
        color: #fff;
        line-height: 0;
    }

nav {
    width: 100%;
}

button {
    background-color: #e60012;
    border: 0px solid;
    color: white;
    font-size: 11px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.radius {
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-top-right-radius: 10px;
}

#menuhaut {
    display: inline-flex;
    justify-content: flex-end;
    width: 98%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    }

.sidenav  > span {
display: none;
text-align: center;
line-height: 5px;
padding-bottom: 20px;
}


.sidenav .icone {
    width: 48px;
    color: white;
    height: 40px;
}

i {
    color:white;
    font-size: 20px;
}


.menureduit {
    width: 25px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
}

.sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 53px;
    background-color: #BF0010; 
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px 0px 5px 0px;
    text-decoration: none;
    font-size: 10px;
    background-color: #e60012;
    color: #ffffff;
    display: block;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    border: 0.1em solid rgba(0, 0, 0, 0.116);
}


.fondcolor {
    background-color: black;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.container {
    padding: 75px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}


.container .box {
    width: 30%;
    height: 200px;
}

.container .box2 {
    width: 45%;
    height: 404px;
    margin-left: 5px;
}

.container .box3 {
    width: 20%;
}

#gauche2 {
    width: 100%;
    height: 400px;
}

#gauche6 {
    width: 49%;
    height: 400px;
}

#gauche5 {
    width: 98%;
    height: 405px;
}

#gauche7 {
    width: 100%;
    height: 405px;
}

#centre4 {
    width: 49%;
    height: 805px;
}

#centre3 {
    width: 49%;
    height: 805px;
}

#centre1 {
    width: 49%;
}

#centre2 {
    width: 50%;
}

.container .box img {
    margin: 0;
    width: 100%;
    height: 100%;
}

.container .box2 img {
    margin: 0;
    width: 100%;
    height: 100%;
}


.container .box3 img {
    margin: 0;
    width: 100%;
    height: 100%;
}

#news {
    width: 100%;
}


/* POUR MOBILE */
@media(max-width:812px)
{
    
    .sidenav > a {
        display: none;
    }

    .sidenav > span {
        display: inline-block;
        background-color: black;
    }

    .sidenav:hover > a {
        width: 100%;
        display: block;
        background-color: #e60012;
    }

    .sidenav:hover > span {
        transform : rotate(90deg);
        transition-property : transform;
        transition-duration : 0.5s;
    }

    .sidenav .icone {
        width: 30%;
    }

    .sidenav {
        width: 0px;
        background-color: #ffffff00;
        height: 100%;
    }

    body {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        padding: 70px;
        
    }

    .container .box {
        width: 100%;
        height: 100%;
    }

    .container .box2 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #centre1 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #gauche6 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #centre3 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #centre4 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #gauche5 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #centre1 {
        width: 100%;
        height: 100%;
    }

    .container .box3 {
        width: 100%;
        height: 100%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }

}


/* POUR TABLETTE */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
{
    
    .sidenav > a {
        display: none;
    }

    .sidenav > span {
        display: inline-block;
        background-color: black;
    }

    .sidenav:hover > a {
        width: 100%;
        display: block;
        background-color: #e60012;
    }

    .sidenav:hover > span {
        transform : rotate(90deg);
        transition-property : transform;
        transition-duration : 0.5s;
    }

    .sidenav .icone {
        width: 30%;
    }

    .sidenav {
        width: 0px;
        background-color: #ffffff00;
        height: 100%;
    }

    body {
        width: 100%;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 70px;
        
    }

    .container .box {
        width: 50%;
        height: 50%;
    }

    .container .box2 {
        width: 50%;
        height: 50%;
    }

    .container .box2 #centre1 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #gauche6 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #centre3 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #centre4 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #gauche5 {
        width: 100%;
        height: 100%;
    }

    .container .box2 #centre1 {
        width: 100%;
        height: 100%;
    }

    .container .box3 {
        width: 50%;
        height: 50%;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 20px;
    }

}
